<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <link data-th-href="@{/css/bg.css}" rel="stylesheet">
    <link data-th-href="@{/css/styles.css}" rel="stylesheet">

    <title>Error</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <span class="navbar-brand">Secret Santa</span>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container text-center mt-5 white content">

        <h1>Uh oh...</h1>
        <hr>
        <br>
        <p>Seems like Santa's elves are busy right now!</p>
        <p>Please try again later.</p>
        <p style="font-size: smaller;"><i>Error: <span data-th-text="${error}"></span></i></p>
    </div>
</body>

</html>