<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <link data-th-href="@{/css/bg.css}" rel="stylesheet">
    <link data-th-href="@{/css/styles.css}" rel="stylesheet">

    <title>Error 404</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <span class="navbar-brand">Christmas Gift Exchange</span>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container text-center mt-5 white content">

        <h1>Oops!</h1>
        <hr>
        <br>
        <p>Looks like you are lost in the North Pole.</p>
        <p><a class="btn btn-outline-light" data-th-href="@{/}">Back to safety</a></p>
    </div>

</body>

</html>