<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <link data-th-href="@{/css/bg.css}" rel="stylesheet">
    <link data-th-href="@{/css/styles.css}" rel="stylesheet">

    <title>Secret Santa</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <span class="navbar-brand">Secret Santa</span>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container text-center mt-5 white content">
        <form method="POST" data-th-action="@{/santa/generate}" data-th-object="${exchange}">

            <div class="mb-3">
                <label class="form-label">Date of Exchange:</label>
                <input type="date" class="form-control" data-th-field="*{date}"/>
            </div>
            <div class="alert alert-danger" data-th-if="${#fields.hasErrors('date')}" data-th-errors="*{date}">
            </div>

            <div class="mb-3">
                <label class="form-label">Budget: <i>(Input 0 for no budget)</i></label>
                <input type="number" class="form-control" data-th-field="*{budget}"/>
            </div>
            <div class="alert alert-danger" data-th-if="${#fields.hasErrors('budget')}" data-th-errors="*{budget}">
            </div>

            <button type="submit" class="btn btn-outline-light">Next</button>
        </form>
    </div>

</body>

</html>